@font-face {
	font-family: 'ProFont';
	src: url('Fonts/ProFont.ttf');
}

html 
{
	font-family: 'ProFont';
}

body 
{ 
  background: rgba(71,78,93,1)url('Images/Background.png') no-repeat bottom fixed;
  background-size: cover; 
  color: #000;
  font-family: 'ProFont';
}

div.container-fluid
{
	margin-top: 0px;
	padding: 10px;
  color: white;
}

footer
{
   position: fixed;
   left:0px;
   bottom:0px;
   height:100px;
   width:100%;
   text-align: left;
}

input
{
  background-color: rgba(71,78,93,0.5);
}

input.invalid, textarea.invalid{
  border: 2px solid red;
}

input.valid, textarea.valid{
  border: 2px solid rgba(0, 255, 255, 0.5);
}

button
{
  background-color: rgba(71,78,93,0.5);
}

textarea 
{
    resize: none;
    background-color: rgba(71,78,93,0.5);
    font-size: 18px;
    width: 350px;
    text-align: center;
}


.error{
  display: none;
  margin-left: 10px;
}   

.error_show{
  color: white;
  margin-left: 10px;
  font-size: 18px;
  background-color: rgba(0, 255, 255, 0.5);
}


.form-group > .form-control
{
    background-color: rgba(71,78,93,0.5);
    color: white;
}

.btn
{
    background-color: rgba(71,78,93,0.5);
    color: white;
}

#clock {
	text-align: left;
	font-size: 40px;
	margin: 0;
	padding-top: 100;
  font-family: 'ProFont';
}

.bg-1 
{
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 
{
    background-color: rgba(71,78,93,0.0); /* Transluscent Dark Blue */
    color: #ffffff;
}
.bg-3 
{
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 
{
    background-color: #003300; /* Dark Green */
    color: #555555;
}